body {
  background-color: #191919;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 60px;
}

.button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff056;
  border: #000000;
  border-radius: 20px;
  font: 2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.word {
  font-size: 1.5em;
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
  width: 600px;
  height: auto;
  border-radius: 20px;
}

.centerme {
  text-align: center;
}
