@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap");

.App {
  text-align: center;
}

body {
  color: #287cca !important;
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #caf4ff;
}

nav .navbar-brand {
  font-size: 2em;
  font-weight: 600;
  color: #287cca;
}

nav .nav-link {
  color: #287cca;
  font-size: 1.2em;
}

nav .nav-link:hover {
  font-weight: 600;
  color: #287cca;
}

#rsvp {
  background-color: #f2095e;
  color: white;
  border-radius: 100px;
  letter-spacing: 1.5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#rsvp:hover {
  opacity: 0.8;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: white;
}

#countdown {
  font-size: 2em;
  font-weight: 600;
}

label {
  font-size: 1.2em;
  margin: 1em;
}

label.message {
  font-weight: 600;
}

input#messageInput {
  height: 150px;
  width: 350px;
}

h2 {
  font-weight: 600 !important;
  font-size: 3em !important;
}
