@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap");

/* .App {
  text-align: center;
} */

body {
  color: #287cca !important;
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #caf4ff;
}

nav .navbar-brand {
  font-size: 1.5em;
  font-weight: 600;
  color: #287cca;
}

nav .nav-link {
  color: #287cca;
}

nav .nav-link:hover {
  font-weight: 600;
  color: #287cca;
}

#rsvp {
  background-color: #f2095e;
  color: white;
  border-radius: 100px;
  letter-spacing: 1.5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.3em;
  font-weight: 600;
}

#rsvp:hover {
  opacity: 0.8;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: white;
}

#countdown {
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  display: block;
}

label {
  font-size: 1.2em;
}

label.message {
  font-weight: 600;
  padding: 1em 1em 0 1em;
  margin: 0;
}

input#messageInput {
  height: 150px;
  width: 305px;
}

/* h2 {
  font-weight: 600 !important;
  font-size: 3em !important;
} */

#word {
  display: block;
  font-size: 2.5em;
}

span #word {
  border: solid 1px black;
}

h1 {
  font-weight: 600 !important;
}

ul.userMessages {
  padding: 0;
}

li {
  list-style-type: none;
}

/* #chatHistory {
  width: 70%;
  justify-content: center;
  margin: 0 auto;
} */

#chatHistory p {
  font-size: 1.1em;
}

#chatHistory .sender {
  font-weight: 600;
}

#chatHistory .message {
  font-size: 1.2em;
}

#chatHistory .row {
  padding: 1em 1em 0 1em;
}

.charadesBtns button {
  background-color: white;
  border-radius: 100px;
  border: solid 2px #287cca;
  color: #287cca;
  font-weight: 600;
  /* padding: 0.5em 1em; */
}

.charadesBtns button:hover {
  background-color: #287cca;
  color: white;
}

div .word__choice {
  background-color: #f5f7fb;
  height: 5em;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

input {
  background-color: #f5f7fb;
  border: none;
  border-radius: 20px;
}

#nameInput {
  height: 2.5em;
}

p.message {
  background-color: #64baf9;
  color: white;
  padding: 1em 2em;
  border-radius: 20px;
}

#home img {
  max-width: 22rem;
}

#chathistory ul {
  padding: 0;
}

.nameTag {
  background-color: yellow;
  padding: 2em;
}

.capitalize {
  text-transform: capitalize;
}
